@media only screen and (max-width: 1700px) and (min-width: 1400px)  {
    .banner-h1{
          font-size: 45px !important;
    }
  }
  @media only screen and (max-width: 1200px) and (min-width: 991px)  {
    .banner-h1{
          font-size: 30px !important;
    }
  }
  header nav ul .nav-item.active .nav-link {
    background-color: #756FC6 !important;
    color: #ffffff;
}
.filters ul li.active {
    background-color: #ffffff;
    color: #756FC6 !important;
}