@media only screen and (max-width: 1700px) and (min-width: 1400px)  {
    .banner-h1{
          font-size: 45px !important;
    }
  }
  @media only screen and (max-width: 1200px) and (min-width: 991px)  {
    .banner-h1{
          font-size: 30px !important;
    }
  }
  header nav ul .nav-item.active .nav-link {
    background-color: #756FC6 !important;
    color: #ffffff;
}
.filters ul li.active {
    background-color: #ffffff;
    color: #756FC6 !important;
}
.contact-wrap:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  background-image: url(../images/contact.webp) !important;
  width: 35%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 50%;
  transform: translateY(-50%);
}
