body {
  margin: 0;
  padding: 0;
  font-family: "";
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  background: #ffffff;
  color: #696969;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  transition: all 0.5s;
  color: #111111;
  font-family: "Manrope", sans-serif;
}

h2 {
  font-size: 40px;
}

button {
  border: 0;
}
button:focus {
  box-shadow: none !important;
}
button:focus-visible {
  outline: none;
}

input {
  border: 0;
  outline: 0;
}

.common-btn {
  background-color: #ee343a;
  border: 1px solid #ee343a;
  color: #ffffff;
  min-width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: all 0.5s;
  width: fit-content;
  padding: 0 30px;
  text-transform: capitalize;
  font-weight: 600;
}
.common-btn:hover {
  background-color: #ee343a;
  color: #ffffff;
}

.cmmn-head h6 {
  color: #ee343a;
  text-transform: uppercase;
}
.cmmn-head h2 {
  font-weight: 700;
  padding-bottom: 15px;
}

.max-para {
  max-width: 550px;
  margin: 0 auto 50px;
}

input {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e9e9e9;
  padding-left: 30px;
}

.animate-top-y {
  animation-name: top-y;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes top-y {
  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
}
@keyframes rotate-style {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*------ responsive ----*/
header {
  background-color: #ffffff;
  padding: 20px 0;
}
header .row {
  align-items: center;
}
header .logo img {
  max-width: 220px;
}
header nav ul .nav-item {
  position: relative;
}
header nav ul .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ee343a;
  transition: width 0.2s;
  bottom: -8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header nav ul .nav-item .nav-link {
  color: #111111;
  font-size: 16px;
  padding: 0 12px !important;
  font-weight: 600;
}
header nav ul .nav-item:hover::after {
  width: 100%;
}
header nav ul .nav-item:hover .nav-link {
  color: #ee343a;
}
header .right-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
}
header .right-menu ul li a svg {
  width: 18px;
}

.search-box {
  transition: all 0.5s;
}
.search-box .search-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 121;
  background: rgba(0, 0, 0, 0.9);
}
.search-box .search-wrap.search-wrap-show {
  display: block;
}
.search-box .search-wrap .search-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.search-box .search-wrap .search-inner .search-form {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.search-box .search-wrap .search-inner .search-form input {
  width: 50%;
  margin: 0 auto;
  display: block;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.search-box .search-wrap .search-cross {
  position: absolute;
  right: 110px;
  top: 65px;
}
.search-box .search-wrap .search-cross .search-cross-icon svg {
  fill: #ffffff;
}

@media (max-width: 1440px) {
  header nav ul .nav-item .nav-link {
    font-size: 14px;
    padding: 0 10px !important;
  }
}
.contact-wrap {
  background-color: #5851BC;
  padding: 60px 0;
  position: relative;
}
.contact-wrap:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  background-image: url("../images/contact-img.png");
  width: 35%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.contact-wrap form input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 5px 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  margin-bottom: 20px;
}
.contact-wrap form input::placeholder {
  color: #ffffff;
}
.contact-wrap form input:focus-visible {
  outline: none;
}
.contact-wrap form textarea {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  margin-bottom: 20px;
}
.contact-wrap form textarea:focus-visible {
  outline: none;
}
.contact-wrap .contact-info .sub-info {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
  margin-bottom: 20px;
}
.contact-wrap .contact-info span {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}
.contact-wrap .contact-info span svg {
  width: 40px;
}
.contact-wrap .contact-info h6 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}
.contact-wrap .contact-info p {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}
.contact-wrap .contact-info a {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  display: block;
}

.choose-wrap {
  background-color: #E3E5FC;
  padding: 60px 0;
}
.choose-wrap .quality-points .s-point {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
  align-items: center;
  justify-content: start;
  column-gap: 50px;
  color: #000000;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.choose-wrap .quality-points .s-point span {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #5851BC;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choose-wrap .quality-points .s-point span svg {
  width: 30px;
  fill: #ffffff;
}
.choose-wrap .quality-points .s-point strong {
  font-size: 24px;
  color: #000000;
  font-weight: 500;
}
.choose-wrap .quality-points .s-point:hover {
  transform: scale(1.05);
}

@media (max-width: 991px) {
  .contact-wrap:after {
    display: none;
  }
}
footer {
  background-color: #e3e5f6;
  padding: 50px 0;
}
footer h4 {
  font-size: 24px;
  color: #101010;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
}
footer .icon {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
footer .icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #393734;
  border-radius: 50px;
  transition: all 0.5s;
}
footer .icon a svg {
  width: 10px;
  fill: #E3E5FC;
}
footer .icon a:hover {
  transform: translateY(-7px);
}
footer p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
footer ul li a {
  color: #000000;
  line-height: 18px;
  margin-bottom: 10px;
  text-transform: capitalize;
  display: block;
  transition: all 0.5s;
}
footer ul li a:hover {
  transform: translateX(7px);
  color: #5851BC;
}
footer .footer-form {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
footer .footer-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  padding-left: 0px;
  height: 40px;
}
footer .footer-form input::placeholder {
  color: #000000;
}
footer .footer-form button {
  all: unset;
  min-width: 130px;
  height: 50px;
  border: 2px solid #101010;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.sub-footer {
  background-color: #101010;
}
.sub-footer p {
  color: #ffffff;
  padding: 20px 10px;
}/*# sourceMappingURL=style.css.map */