body {
  margin: 0;
  padding: 0;
  font-family: "";
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  background: #ffffff;
  color: #000000;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  transition: all 0.5s;
  color: #111111;
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
  font-weight: 400;
}

button {
  border: 0;
}
button:focus {
  box-shadow: none !important;
}
button:focus-visible {
  outline: none;
}

input {
  border: 0;
  outline: 0;
}

.common-btn {
  background-color: #5851BC;
  border: 1px solid #5851BC;
  color: #ffffff;
  min-width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.5s;
  width: fit-content;
  padding: 0 30px;
  text-transform: capitalize;
  font-weight: 600;
}
.common-btn:hover {
  background-color: #5851BC;
  color: #ffffff;
  transition: all 0.5s;
}
.common-btn:hover span svg {
  transform: translateX(5px);
  transition: all 0.5s;
}
.common-btn span {
  margin-left: 8px;
}
.common-btn span svg {
  width: 15px;
  fill: #ffffff;
}

.banner-btn {
  background-color: #ffffff;
  max-width: 150px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5851BC;
  border: 1px solid #ffffff;
  font-weight: 700;
  transition: all 0.5s;
}
.banner-btn:hover {
  background-color: transparent;
  color: #ffffff;
}

.cmmn-head h6 {
  color: #5851BC;
  text-transform: uppercase;
}
.cmmn-head h2 {
  font-weight: 700;
  padding-bottom: 20px;
}

.animate-top-y {
  animation-name: top-y;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes top-y {
  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
}
@keyframes rotate-style {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*------ responsive ----*/
@media (max-width: 767px) {
  h4 {
    font-size: 22px;
  }
  h2 {
    font-size: 40px;
  }
}
header {
  background-color: #ffffff;
  padding: 20px 0;
}
header .row {
  align-items: center;
}
header .logo img {
  max-width: 220px;
}
header nav ul .nav-item {
  position: relative;
}
header nav ul .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #5851BC;
  transition: width 0.2s;
  bottom: -8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header nav ul .nav-item .nav-link {
  color: #111111;
  font-size: 16px;
  padding: 0 12px !important;
  font-weight: 600;
}
header nav ul .nav-item:hover::after {
  width: 100%;
}
header nav ul .nav-item:hover .nav-link {
  color: #5851BC;
}
header .right-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
}
header .right-menu ul li a svg {
  width: 18px;
}

.navbar-toggler {
  width: 2.5rem;
  height: 2rem;
  position: absolute;
  right: 0;
  top: -12px;
}

.navbar-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 70%;
  background: #5851BC;
  border-radius: 3px;
  opacity: 1;
  left: 25%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navbar-toggler span:nth-child(1) {
  top: 34.5%;
}

.navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
  top: 60%;
}

.navbar-toggler span:nth-child(4) {
  top: 85.5%;
}

.navbar-toggler.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-toggler.open span:nth-child(2) {
  transform: rotate(45deg);
}

.navbar-toggler.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-toggler.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#sidebar {
  position: fixed;
  height: 100vh;
  display: block;
  background-color: #ffffff;
  left: -280px;
  width: 280px;
  top: 0;
  box-shadow: 0px 0px 10px 0px rgba(77, 77, 77, 0.5);
  z-index: 1000;
}
#sidebar .respnsv-logo {
  padding: 40px;
}

#cssmenu ul li a {
  color: #5851BC;
  padding: 10px 15px;
  border-bottom: 1px solid #5851BC;
  display: block;
}
#cssmenu ul li:hover a {
  color: #5851BC;
}

@media (max-width: 1440px) {
  header nav ul .nav-item .nav-link {
    font-size: 14px;
    padding: 0 10px !important;
  }
}
.banner-wrap {
  background-color: #5851BC;
  padding: 120px 0 130px 0;
  position: relative;
}
.banner-wrap .banner-content h1 {
  color: #ffffff;
}
.banner-wrap .banner-content p {
  color: #ffffff;
  max-width: 740px;
  padding: 32px 0;
}
.banner-wrap::before {
  content: "";
  display: block;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  width: 733px;
  height: 515px;
  position: absolute;
  right: -58px;
  transform: scale(0.8);
  top: 30px;
}

@media (max-width: 1366px) {
  .banner-wrap::before {
    right: -132px;
    transform: scale(0.6);
  }
  .banner-wrap h1 {
    font-size: 60px;
  }
  .banner-wrap .banner-content p {
    max-width: 630px;
  }
}
@media (max-width: 1199px) {
  header nav ul .nav-item .nav-link {
    padding: 0 5px !important;
  }
}
@media (max-width: 991px) {
  .banner-wrap::before {
    display: none;
  }
}
@media (max-width: 767px) {
  .banner-wrap {
    padding: 70px 0 70px 0;
  }
  .banner-wrap h1 {
    font-size: 45px;
  }
}
.about-wrapper {
  background-color: #E3E5FC;
  padding: 60px 0;
  margin: 100px 0;
}
.about-wrapper .row {
  align-items: center;
  row-gap: 15px;
}
.about-wrapper .row h4 {
  padding: 40px 0;
}
.about-wrapper .about-gap {
  padding-top: 30px;
}

@media (max-width: 1440px) {
  .about-wrapper .about-gap {
    padding-top: 18px;
  }
}
@media (max-width: 767px) {
  .about-wrapper .row h4 {
    padding: 18px 0;
  }
}
.service-wrap {
  background-image: url("../images/bg-service.png");
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  background-size: cover;
  padding: 60px 0;
}
.service-wrap .row {
  row-gap: 40px;
}
.service-wrap h2, .service-wrap h4 {
  color: #ffffff;
}
.service-wrap h4 {
  padding: 15px 0 45px 0;
}
.service-wrap .service-box {
  background-color: #ffffff;
  padding: 40px;
  transform: translateY(0px);
  transition: all 0.5s;
  height: 100%;
}
.service-wrap .service-box:hover {
  transform: translateY(-10px);
}
.service-wrap .service-box .service-content h5 a {
  font-size: 30px;
  color: #5851BC;
  padding: 20px 0 15px 0;
  display: inline-block;
}
.service-wrap .service-box .service-content p {
  color: #5851BC;
}

.client-wrapper {
  background-color: #E3E5FC;
  padding: 60px 0;
  margin: 100px 0;
}
.client-wrapper .row {
  row-gap: 30px;
}
.client-wrapper h4 {
  max-width: 785px;
  margin: 0 auto;
  padding: 20px 0 40px 0;
}
.client-wrapper .client-box {
  background-color: #ffffff;
  padding: 40px;
  display: block;
  transform: translateY(0px);
  transition: all 0.5s;
  border-radius: 8px;
}
.client-wrapper .client-box img {
  width: 100%;
}
.client-wrapper .client-box:hover {
  transform: translateY(-10px);
}