// variable
$main-color:#7873C9;
$white-color:#ffffff;
$black-color:#111111;
$body-color: #000000;
$bg-light: #E3E5FC;

body{
    margin: 0;
    padding: 0;
    font-family: '';
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    background: $white-color;
    color: $body-color;
    transition: all 0.5s;
	font-family: "Roboto", sans-serif;
}
p{
    margin: 0;
    padding: 0;
}
ul{
list-style: none;
margin: 0;
padding: 0;
}

a{
    text-decoration: none;

}


h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    margin: 0;
	transition: all 0.5s;
	color: $black-color;
}

h1{
	font-size: 65px;
}
h2{
	font-size: 50px;
}
h4{
	font-size: 40px;
	font-weight: 400;
}
h5{
	font-size: 30px;
}


button{
    border: 0;
    &:focus{
        box-shadow: none !important;
    }
    &:focus-visible{
        outline: none;
    }
}

input{
	border: 0;
	outline: 0;
}

.common-btn{
	background-color: $main-color;
	border: 1px solid $main-color;
	color: $white-color;
    min-width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
	transition: all 0.5s;
	width: fit-content;
	padding:0 30px;
	text-transform: capitalize;
	font-weight: 600;
	&:hover{
		background-color: $main-color;
		color: $white-color;
		transition: all 0.5s;
		span{
			svg{
				transform: translateX(5px);
				transition: all 0.5s;
			}
		}
	}
	span{
		margin-left: 8px;
		svg{
			width: 15px;
			fill: $white-color;
		}
	}
}
.banner-btn{
	background-color: $white-color;
	max-width: 150px;
	height: 60px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $main-color;
	border: 1px solid $white-color;
	font-weight: 700;
	transition: all 0.5s;
	position: relative;
	&:hover{
		background-color: transparent;
		color: $white-color;
	}
}
.cmmn-head{
    h6{
        color: $main-color;
        text-transform: uppercase;
    }
    h2{
        font-weight: 700;
		padding-bottom: 20px;
    }
}

// animation
.animate-top-y{
	animation-name: top-y;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes top-y{
	0% {
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
	}
	
	50% {
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
	}
	100% {
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
	}
}
@keyframes rotate-style{
	0% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}



/*------ responsive ----*/

@mixin for-1700 {
	@media (max-width: 1700px) {
		@content;
	}
}
@mixin for-1600 {
	@media (max-width: 1600px) {
		@content;
	}
}
@mixin for-1440 {
	@media (max-width: 1440px) {
		@content;
	}
}
@mixin for-1366 {
	@media (max-width: 1366px) {
		@content;
	}
}

@mixin for-1199 {
	@media (max-width: 1199px) {
		@content;
	}
}
@mixin for-1024 {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin for-991 {
	@media (max-width: 991px) {
		@content;
	}
}
@mixin for-767 {
	@media (max-width: 767px) {
		@content;
	}
}
@mixin for-576 {
	@media (max-width: 576px) {
		@content;
	}
}

@mixin for-480 {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin for-375 {
	@media (max-width: 375px) {
		@content;
	}
}
@mixin for-320 {
	@media (max-width: 320px) {
		@content;
	}
}

@include for-767(){
	h4{
		font-size: 22px;
	}
	h2{
		font-size: 40px;
	}
}
