header{
    background-color: $white-color;
    padding: 20px 0;
    .row{
        align-items: center;
    }
    .logo{
        img{
            max-width: 220px;
        }
    }
    nav{
        ul{
            .nav-item{
                position: relative;
                &::after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: $main-color;
                    transition: width .2s;
                    bottom: -8px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .nav-link{
                    color: $black-color;
                    font-size: 16px;
                    padding: 0 12px !important;
                    font-weight: 600;
                }
                &:hover{
                    &::after{
                        width: 100%;
                    }
                    .nav-link{
                        color: $main-color;
                    }
                }
            }
        }
    }
    .right-menu{
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            column-gap: 30px;
            li{
                a{
                    svg{
                        width: 18px;
                    }
                }
            }
        }
    }
}

// navbar
.navbar-toggler {
	width: 2.5rem;
	height: 2rem;
    position: absolute;
    right: 0;
    top: -12px;
}
.navbar-toggler span {
    display: block;
    position: absolute;
    height: 3px;
    width: 70%;
    background: $main-color;
    border-radius: 3px;
    opacity: 1;
    left: 25%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  .navbar-toggler span:nth-child(1) {
    top: 34.5%;
  }
  .navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
    top: 60%;
  }
  .navbar-toggler span:nth-child(4) {
    top: 85.5%;
  }
  .navbar-toggler.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .navbar-toggler.open span:nth-child(2) {
     transform: rotate(45deg);
  }
  .navbar-toggler.open span:nth-child(3) {
     transform: rotate(-45deg);
  }
  .navbar-toggler.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #sidebar{
    position: fixed;
    height: 100vh;
    display: block;
    background-color: $white-color;
    left: -280px;
    width: 280px;
    top: 0;
    box-shadow: 0px 0px 10px 0px rgba(77,77,77,0.5);
    z-index:1000;
    .respnsv-logo{
        padding: 40px;
    }
}
#cssmenu {
    ul{
        li{
            a{
                color: $main-color;
                padding: 10px 15px;
                border-bottom: 1px solid $main-color;
                display: block;
            }
            &:hover{
                a{
                    color: $main-color;
                }
            }
        }
    }
}

@include for-1440{
    header {
        nav {
            ul {
                .nav-item {
                    .nav-link{
                        font-size: 14px;
                        padding: 0 10px !important;
                    }
                }
            }
        }
    }
}