.banner-wrap{
    position: relative;
    max-height: 670px;
    .banner-slider{
        .owl-carousel{
            img{
                max-height: 670px;
                filter: brightness(0.5);
            }
            .owl-nav{
                margin: 0;
                button{
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    background-color: $main-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    margin: 0;
                    opacity: 0;
                    transition: all 0.5s;
                    top: 50%;
                    transform: translateY(-50%);
                    &.owl-prev{
                        left: 0px;
                    }
                    &.owl-next{
                        right: 0px;
                    }
                }
                svg{
                    width: 13px;
                    fill: $white-color;
                }
            }
        }
        &:hover{
            button{
                &.owl-prev{
                    left: 30px !important;
                    opacity: 1;
                }
                &.owl-next{
                    right: 30px !important;
                    opacity: 1;
                }
            }
        }
    }
    .banner-cont{
        text-align: center;
        max-width: 770px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        h5{
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: $white-color;
        }
        h3{
            margin: 12px 0;
            font-size: 76px;
            text-transform: capitalize;
            color: $white-color;
            line-height: 92px;
        }
        .common-btn{
            margin: 0 auto;
        }
    }
}
.animated  {
    animation-duration : 2000ms !important ;
  }

// service section

.service-wrap{
	padding: 70px 0;
    background: #eeeeee;
    .our-offer-carousel {
		.owl-dots {
			.owl-dot {
				span {
					background: #ffffff none repeat scroll 0 0;
					border: 2px solid;
					height: 15px;
					margin: 0 5px;
					width: 15px;
				}
			}
			.owl-dot.active {
				span {
					background: $main-color none repeat scroll 0 0;
					border-color: $main-color;
				}
			}
		}
	}
    .item {
		padding: 50px 20px ;
        text-align: center;
		background: #ffffff none repeat scroll 0 0;
		// border-left: 2px solid $main-color;
		box-shadow: 0 0 10px #cccccc;
		overflow: hidden;
		position: relative;
		z-index: 1;
		margin-bottom: 30px;
		&::after {
			background: $main-color none repeat scroll 0 0;
			content: "";
			height: 100%;
			left: -100%;
			position: absolute;
			top: 0;
			transition: all 0.35s ease-in-out;
			width: 100%;
			z-index: -1;
		}
		svg{
            width: 25px;
			fill: #ffffff;
        }
        h4{
            font-size: 22px;
            margin: 20px 0 10px;
        }
        p{
            font-size: 1rem;
			color: #797979;
        }
		span{
			height: 80px;
			width: 80px;
			border-radius: 50px;
			background-color: $main-color;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			transition: all 0.5s;
			outline: 2px solid $main-color;
   			outline-offset: 5px;
		}
		&:hover {
			&::after {
				left: 0;
			}
			span{
				background-color: #ffffff;
				outline-color: $white-color;
				svg{
					fill: $main-color;
				}
			}
			h4 {
				color: #ffffff !important;
			}
			p {
				color: #ffffff !important;
			}
		}
	}
}

// about-start
.about-wrapper{
    padding: 60px 0;
    .row{
        align-items: center;
    }
    .about-pera{
        padding-bottom: 50px;
    }
    .about-box{
        display: flex;
        align-items: center;
        column-gap: 25px;
        background-color: $white-color;
        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 10px;
        padding: 15px 15px;
        p{
            padding-top: 5px;
        }
    }
}

@include for-480{
    .about-wrapper {
        .about-box{
            flex-wrap: wrap;
            row-gap: 15px;
        }
    }
}

// client wrap
.client-wrap{
	background-image: url('../images/bg-client.jpg');
	padding: 100px 0;
	h2{
		color: $white-color;
	}
	.owl-carousel{
		.owl-nav{
			margin: 0;
			display: block;
			display: flex;
			column-gap: 10px;
			position: absolute;
			right: 0;
			top: -80px;
			button{
				width: 40px;
				height: 40px;
				border-radius: 50px;
				background-color: $main-color;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0;
				transition: all 0.5s;
				// top: 50%;
				// transform: translateY(-50%);
			}
			svg{
				width: 13px;
				fill: $white-color;
			}
		}
	}

	.item{
		padding: 35px 45px;
		background-color: #2222228a;
		position: relative;
		border-radius: 7px;
		span{
			position: absolute;
			left: 0;
			top: 0;
			background-color: $main-color;
			width: 65px;
			height: 65px;
			line-height: 40px;
			padding-left: 10px;
			clip-path: polygon(0 0, 0% 100%, 100% 0);
			color: #fff;
			border-top-left-radius: 7px;
			svg{
				width: 20px;
				fill: $white-color;
			}
		}
		p{
			color: $white-color;
		}
		h6{
			a{
				color: $main-color;
			}
		}
	}
}

// counter wrap
.counter-wrap{
	span{
		height: 80px;
		width: 80px;
		border-radius: 50px;
		background-color: $main-color;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		transition: all 0.5s;
		border: 5px solid #ffd9db;
		   outline-offset: 5px;
		   svg{
			width: 25px;
			fill: #ffffff;
		}
	}
	.count-digit {
		font-size: 40px;
		text-align: center;
		margin: 10px 0 0;
		color: #fff;
	}
	h6{
		font-size: 18px;
		text-align: center;
		color: #ffffff;
	}
}
// why-us
.why-wrapper{
    padding: 100px 0;
    .row{
        row-gap: 20px;
    }
    .cmmn-head{
        margin-bottom: 40px;
    }
    .why-box-wrap{
        display: flex;
        justify-content: space-between;
        row-gap: 20px;
        &.box-gap{
            margin-top: 30px;
        }
        .why-box{
            display: flex;
            align-items: center;
            column-gap: 15px;
            svg{
                width: 50px;
                fill: $main-color;
            }
            .why-content{
                p{
                    padding-top: 5px;
                }
            }
        }
    }
    .why-image{
        position: relative;
        .shape{
            position: absolute;
            top: 20px;
            left: 35%;        
            transform: translateX(-50%);
            z-index: -1;
            animation: rotate-style 50s linear infinite;
            img{
                max-width: 355px;
            }
        }
    }
}

@include for-576{
    .why-wrapper {
        .why-box-wrap{
            flex-wrap: wrap;
            row-gap: 20px;
        }
        .why-image {
            .shape img{
                max-width: 170px;
            }
        }
    }
}

// contact
.contact-wrapper{
    .row{
        row-gap: 20px;
    }
    .contact-content{
        padding: 40px 0;
        max-width: 645px;
        margin: 0 0 0 auto;
        form{
            row-gap: 15px;
            label{
                display: block;
                margin-bottom: 8px;
                color: $black-color;
                font-weight: 500;
            }
            input{
                // border: 1px solid $body-color;
                // width: 100%;
                // height: 40px;
                // padding: 10px;
                &:focus{
                    border-color: $main-color;
                }
            }
            textarea{
                width: 100%;
                height: 150px;
                padding: 30px 20px;
                &:focus{
                    outline: none;
                    border-color: $main-color;
                }
            }
        }
    }
    iframe{
        width: 100%;
        height: 100%;
    }
}
