.banner-wrap{
    background: linear-gradient(180deg, #7873C9 0%, rgba(88, 81, 188, 0.8) 100%);
    padding: 120px 0 130px 0;
    position: relative;
    .banner-content{
        h1{
            color: $white-color;
        }
        p{
            color: $white-color;
            max-width: 550px;
            padding: 15px 0 30px 0;
        }
    }
    &::before{
        content: '';
        display: block;
        background-image: url('../images/banner.png');
        background-repeat: no-repeat;
        width: 733px;
        height: 515px;
        position: absolute;
        right: -58px;
        transform: scale(0.8);
        top: 30px;
        z-index: 11;
    }
}

@include for-1366{
    .banner-wrap{
        &::before{
            right: -132px;
            transform: scale(0.6);
        }
        h1{
            font-size: 60px;
        }
        .banner-content{
            p{
                max-width: 630px;
            }
        }
    }
}
@include for-1199{
    header {
        nav {
            ul {
                .nav-item {
                    .nav-link{
                        padding: 0 5px !important;
                    }
                }
            }
        }
    }
}
.contact-wrap{
    background-color: #756FC6;
    padding: 60px 0;
    position: relative;
    // margin: 100px 0 0;
    h2, h4{
        color: $white-color;
    }
    h4{
        padding: 15px 0 20px 0;
    }
    &:after{
        content: '';
        position: absolute;
        right: 10px;
        top: 0;
        background-image: url('../images/contact-img.png');
        width: 35%;
        height: 350px;
        background-repeat: no-repeat;
        background-size: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
    form{
        input{
            width: 100%;
            height: 50px;
            border-radius: 10px;
            padding:5px 20px;
            border: 2px solid #ffffff;
            background-color: transparent;
            color: #ffffff;
            &::placeholder{
                color: #ffffff;
            }
            &:focus-visible{
                outline: none;
            }
            margin-bottom: 20px;
        }
        textarea{
            width: 100%;
            border-radius: 10px;
            padding: 20px;
            border: 2px solid #ffffff;
            background-color: transparent;
            color: #ffffff;
            margin-bottom: 20px;
            &:focus-visible{
                outline: none;
            }
        }
    }
    .contact-info{
        .sub-info{
            display: flex;
            align-items: flex-start;
            column-gap: 15px;
            margin-bottom: 20px;
        }
        span{
            height: 70px;
            width: 70px;
            border-radius: 10px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: none;
            svg{
                width: 40px;
            }
        }
        h6{
            font-size: 16px;
            color: #ffffff;
            margin-bottom: 10px;
        }
        p{
            font-size: 12px;
            line-height: 14px;
            color: #ffffff;
        }
        a{
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            display: block;
        }
    }
}

@include for-991{
    .banner-wrap{
        &::before{
            display: none;
        }
    }
}

@include for-767{
    .banner-wrap{
        padding: 70px 0 70px 0;
        h1{
            font-size: 45px;
        }
    }
}

// about
.about-wrapper{
    background-color: $bg-light;
    padding: 60px 0;
    // margin: 100px 0 0;
    .row{
        align-items: center;
        row-gap: 15px;
        h4{
            padding: 20px 0 30px 0;
        }
    }
    .about-gap{
        padding-top: 30px;
    }
}

@include for-1440{
    .about-wrapper {
        .about-gap{
            padding-top: 18px;
        }
    }
}
@include for-767{
    .about-wrapper {
        .row{
            h4{
                padding: 18px 0;
            }
        }
    }
}

// service
.service-wrap{
    background-image: url('../images/bg-service.png');
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    background-size: cover;
    padding: 60px 0;
    // margin: 100px 0 0;
    .row{
        row-gap: 40px;
    }
    h2, h4{
        color: $white-color;
    }
    h4{
        padding: 15px 0 45px 0;
    }
    .content-inner{
        width: 100%;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
        backface-visibility: hidden;
        height: 100%;
        transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        .content-front, .content-back{
            position: relative;
            transform-style: preserve-3d;
            perspective: 1000px;
            backface-visibility: hidden;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 45px 30px;
            background-color: $white-color;
            h5{
                color: $main-color;
                padding-top: 20px;
            }
            span{
                position: absolute;
                color: transparent;
                -webkit-text-stroke: 2px #7973C9;
                font-size: 50px;
                top: 5px;
                right: 15px;
            }
        }
        > *{
            backface-visibility: hidden;
            transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .cf-inner{
            width: 100%;
            .inner{
                align-items: stretch;
                transform-style: preserve-3d;
                perspective: 1000px;
                backface-visibility: hidden;
                // transform: scale(0.81);
                position: relative;
                z-index: 99;
                p{
                    color: $white-color;
                }
            }
        }
        .content-back{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            transform: rotateY(180deg);
            background: #443ea1;
        }
        &:hover{
            .content-front{
                transform: rotateY(-180deg);
            }
            .content-back{
                transform: rotateY(0deg);
            }
        }
    }
}

// client
.client-wrapper{
    background-color: $bg-light;
    padding: 60px 0;
    // margin: 100px 0 0;
    .row{
        row-gap: 30px;
    }
    h4{
        max-width: 785px;
        margin: 0 auto;
        padding: 20px 0 40px 0;
    }
    .client-box{
        background-color: $white-color;
        padding: 40px;
        display: block;
        transform: translateY(0px);
        transition: all 0.5s;
        border-radius: 8px;
        img{
            width: 100%;
        }
        &:hover{
            transform: translateY(-10px);
        }
    }
}
// choose-wrap
.choose-wrap{
    background-color: #E3E5FC;
    padding: 60px 0;
    // margin: 100px 0 0; 
    .quality-points{
        .s-point{
            display: flex;
            background-color: #ffffff;
            box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 25%);
            padding: 30px;
            align-items: center;
            justify-content: start;
            column-gap: 50px;
            color: #000000;
            margin-bottom: 20px;
            transition: all 0.5s;
            span{
                height: 50px;
                width: 50px;
                border-radius: 50px;
                background-color: #7873C9;
                display: flex;
                align-items: center;
                justify-content: center;
            svg{
                width: 30px;
                fill: #ffffff;
            }
        
            }
            strong{
                font-size: 24px;
                color: #000000;
                font-weight: 500;
            }
            &:hover{
                transform: scale(1.05);
            }
        }
    }
}
@include for-991{
    .contact-wrap:after{
        display: none;
    }
}

@include for-480{
    .choose-wrap .quality-points .s-point{
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
    }
    h2 {
        font-size: 30px;
    }
}