.mainTechnologies {
    background-color: #5851BC;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    .item{
       
    }
    .btnMain {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .btn {
            width: 100%;
            height: 84px;
            border: 2px solid #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #ffffff;
        }
    }

    .tecBox {
        background: #FFFFFF;
        border-radius: 8px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // gap: 12px;
        flex-direction: column;
        margin-top:25px ;
        .icon {
            padding: 12px;
            border-radius: 50%;
            background: #FFFFFF;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            transition: all 0.5s;
            img{
                width: 30px;
                max-height: 30px;
            }
           
        }

        .text {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            display: flex;
            align-items: center;
            color: #000000;
            margin: 10px 0;
        }
        p{
            font-size: 14px;
            display: flex;
            color: #000000;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
                    line-clamp: 2; 
            -webkit-box-orient: vertical;
        }
        &:hover{
            .icon{
                transform: rotateY(360deg);
            }
        }
    }
}
.filters{
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        margin-bottom: 25px;
        li{
            padding: 12px 24px;
            border: 1px solid #fff;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            &.active{
                background-color: #ffffff;
                color: #5851BC;
            }
        }
    }
}